html, body, #content {
    height: 100%;
    width: 100%;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-color: black;
    color: white;
    font-family: 'Comfortaa', cursive;
}

#content {
    position: relative;
}

