@import '../../styles/_mixins';

.app-title {
    margin-bottom: 1em;
    font-size: 2.5em;
}

.request-tag-form {
    margin-bottom: 2em;

    .tag-field, .submit-tag {
        border-radius: 5em;
        font-family: 'Comfortaa', cursive;
    }

    .tag-field {
        width: 100%;
        padding: 0.2em 0.5em;
        margin-bottom: 1em;
        border-style: none;
        font-size: 1.2em;
        text-align: center;
    }

    .submit-tag {
        padding: 0.5em;
        border: 0.2em double white;
        background-color: black;
        color: white;
        font-size: 1.5em;
    }
}

.disclaimer {
    font-size: 0.9em;
    line-height: 1.1em;
}